$black: #222222;
$open-sans: 'Open Sans', sans-serif;

.body {
  font-family: 'Montserrat', sans-serif;
}

.body__active {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 8px 26px 11px 29px;
  background: #F7859C;
  text-decoration: none;
  color: #fff;
  border-radius: 12px;
}

.subtitle {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: $black;
}

.title {
  font-weight: 700;
  font-size: 65px;
  line-height: 58.32px;
  color: $black;
}

.text {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #404756;
}

.header {
  font-family: 'Open Sans', sans-serif;
  padding: 18px 0;
  &__container {
    max-width: 1350px;
    padding: 0 20px;
    margin: 0 auto;
    .header__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .hamburger__line {
        display: none;
      }
      .menu {
        display: flex;
        gap: 30px;
        &__link {
          list-style: none;
          &-item {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
  }
}

.intro {
  position: relative;
  padding: 91px 0 350px 0;
  .dec {
    position: absolute;
    z-index: -1;
  }
  .dec-1 {
    left: 0;
    top: -11px;
  }
  .dec-2 {
    right: 21px;
    top: -23px;
  }
  .intro__body {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    .intro__subtitle {
      font-weight: 700;
      letter-spacing: .5px;
      padding-left: 3px;
      span {
        position: absolute;
        top: -16px;
        left: -14px;
        z-index: -1;
      }
      position: relative;
      max-width: fit-content;
      margin: 0 auto;
    }
    .intro__title {
      font-weight: 700;
      font-size: 97px;
      line-height: 87px;
      color: $black;
      margin: 3px 0 0 7px;
    }
    .intro__text {
      max-width: 429px;
      margin: 45px auto 40px auto;
    }
    .btn {
      padding: 11px 27px 11px 30px;
      letter-spacing: -1px;
    }
  }
}

.collection {
  background: url(./../img/collection__bottom.svg) no-repeat bottom center/contain;
  padding: 50px 0 224px 0;
  .collaction__body {
    text-align: center;
    .collection__subtitle {
      span {
        position: absolute;
        top: -12px;
        left: -14px;
        z-index: -1;
      }
      position: relative;
      max-width: fit-content;
      margin: 4px auto 0px auto;
    }
  }
  .collection__title {
    margin-top: 5px;
  }
  .collection__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 76px;
    gap: 170px;
    .collection__textbox {
      padding-top: 10px;
      text-align: left;
      .collection__textbox-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 22px;
        color: $black;
        margin-bottom: 17px;
      }
      .collection__text {
        width: 332px;
      }
      .line {
        width: 374.44px;
        border-top: 1px solid rgba(64, 71, 86, 0.6);
        margin: 32.2px 0 27.98px 0;
      }
    }
    .collection__imgbox {
      img {
        position: relative;
        width: 621px;
        height: 666px;
        top: 1px;
        right: 8px;
      }
    }
  }
}

.tier {
  padding: 139px 0 108px 0;
  background: #FBF1E6;
  overflow: hidden;
  .tier__subtitle {
    position: relative;
    z-index: 1;
    margin-bottom: 4px;
    span {
      position: absolute;
      left: -12px;
      top: -12px;
      z-index: -1;
    }
  }
  .tier__title {
    margin-bottom: 79px;
  }
  .tier__line {
    width: 100vw;
    height: 1px;
    background: rgba(64, 71, 86, 0.6);
    border-radius: 0;
  }
  .tier__level {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 73px 0 64px 0;
    &-textbox {
      margin-top: -11px;
      width: 336px;
      .tier__level-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 32px;
        color: $black;
      }
      .tier__level-tier {
        display: flex;
        gap: 40px;
        margin: 33px 0 29px 0;
        .tier__level-level {
          font-weight: 700;
          font-size: 18px;
          line-height: 16px;
          color: $black;
        }
        .tier__levelbox {
          display: flex;
          margin-top: 1px;
          gap: 5.51px;
        }
      }
    }
  }
}

.map {
  background: url(./../img/map__top.svg) no-repeat top center/contain, url(./../img/map__bottom.svg) no-repeat bottom center/contain;
  padding: 260px 0 98px 0;
  .map__body {
    .map__subtitle {
      position: relative;
      max-width: fit-content;
      margin: 0 auto;
      span {
        top: -13px;
        left: -14px;
        position: absolute;
        z-index: -1;
      }
    }
    .map__title {
      text-align: center;
      margin: 4px 0 106px 0;
    }
    .map__content-item {
      position: relative;
      width: 100%;
      margin-bottom: 107px;
      .map__percentege {
        position: absolute;
        left: 0;
        top: 111px;
        display: flex;
        gap: 10.9px;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        color: #F7859C;
      }
      .map__main {
        position: relative;
        max-width: fit-content;
        margin: 0 auto;
        padding: 122px 109px 147px 85px;
        background: url(./../img/big-stain.svg) no-repeat center/contain;
        .main__textbox {
          max-width: 336px;
          .map__main-subtitle {
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
          }
          .map__main-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 32px;
            margin: 9px 0 26px 0;
          }
        }
        img {
          position: absolute;
          top: -11px;
          right: -94px;
        }
      }
      .main__imgbox {
        position: absolute;
        right: -91px;
        bottom: 50px;
        img {
          position: relative;
        }
        img:nth-child(2) {
          position: absolute;
          z-index: -1;
          top: -12px;
          left: -60px;
        }
      }
    }
  }
}

.team {
  padding: 139px 0 125px 0;
  background: #FDDBE2;
  .team__subtitle {
    max-width: fit-content;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    span {
      position: absolute;
      top: -12px;
      left: -14px;
      z-index: -1;
    }
  }
  .team__title {
    text-align: center;
    margin: 4px 0 58px 0;
  }
  .team__content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 74px;
    grid-column-gap: 46px;
    .team__content-item {
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
      .team__position {
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        margin: 22.2px 0 6px 0;
      }
      .team__name {
        font-weight: 700;
        font-size: 36px;
        line-height: 32px;
      }
    }
  }
}

.faq {
  height: 1140px;
  overflow: hidden;
  padding: 212px 0 219px 0;
  background: url(./../img/faq__top.svg) no-repeat top center/contain, url(./../img/faq__bottom.svg) no-repeat bottom center/contain;
  .faq__body {
    position: relative;
    .faq__pappel {
      position: absolute;
      top: -91px;
      left: -230px;
      z-index: -1;
    }
    .faq__subtitle {
      max-width: fit-content;
      margin: 0 auto;
      position: relative;
      padding-left: 22px;
      span {
        position: absolute;
        top: -10px;
        left: -2px;
        z-index: -1;
      }
    }
    .faq__title {
      margin: 4px 0 78.91px 0;
      text-align: center;
    }
    .hr {
      width: 100%;
      height: 1px;
      background: rgba(64, 71, 86, 0.6);
    }
    .accordion {
      cursor: pointer;
      transition: all .2s ease;
      padding: 29px 0 35px 0;
      .accordion__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .accordion__title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 22px;
        }
        .triger {
          width: 17px;
          height: 17px;
          position: relative;
          background: transparent;
          cursor: pointer;
          margin-top: 8px;
          padding: 0;
          border: none;
          transition: all .2s ease;
          span {
            position: absolute;
            width: 17px;
            height: 3px;
            right: 0;
            background: #404756;
          }
          .line-1 {
            transform: rotate(-0deg);
            bottom: 50%;
          }
          .line-2 {
            bottom: 8px;
            transform: rotate(90deg);
          }
        }
      }
      .accordion__text {
        display: none;
      }
    }
    .accordion__active {
      cursor: pointer;
      transition: all .2s ease;
      padding: 31px 0 39px 0;
      .accordion__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .accordion__title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 22px;
        }
        .triger {
          width: 17px;
          height: 17px;
          position: relative;
          background: transparent;
          cursor: pointer;
          padding: 0;
          border: none;
          transition: all .2s ease;
          span {
            position: absolute;
            width: 17px;
            height: 3px;
            right: 0;
            background: #404756;
          }
          .line-1 {
            transform: rotate(-0deg);
            bottom: 50%;
          }
          .active {
            display: none;
          }
        }
      }
      .text {
        padding: 25px 0 0 25px;
      }
      .accordion__text-active {
        display: block;
        padding: 25px 0 0 25px;
      }
    }
  }
}

.footer {
  padding: 89px 0 23px 0;
  background: #D3D4ED;
  .footer__body {
    .hr {
      width: 100%;
      height: 1px;
      background: rgba(64, 71, 86, 0.6);
    }
    .footer__head {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 17px;
      .footer__stains {
        position: absolute;
        left: -156px;
        top: -109px;
      }
      .footer__title {
        padding-bottom: 10px;
      }
      .footer__subtitle {
        position: relative;
        z-index: 1;
        margin: 0px 1px -1px 0;
        span {
          position: absolute;
          left: -14px;
          top: -13px;
          z-index: -1;
        }
      }
    }
    .footer__nav {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 12px 0 56px 0;
      .footer__social {
        display: flex;
        gap: 47px;
        .footer__item {
          list-style: none;
          .footer__link {
            font-family: $open-sans;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-decoration: none;
            color: #404756;
          }
          .footer__link:hover {
            text-decoration: underline;
          }
        }
        .bottom {
          margin: 0 5px 12px 0;
        }
      }
    }
    .footer__bottom {
      display: flex;
      gap: 38px;
      padding: 12px 0 23px 0;
      .footer__bottom-item {
        display: flex;
        align-items: center;
        font-family: $open-sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #404756;
        a {
          text-decoration: none;
          margin-left: 3px;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width:1200px) {
  .container {
    max-width: 1200px;
  }
  .intro {
    overflow: hidden;
    position: relative;
    .dec {
      img {
        vertical-align: top;
      }
    }
    .dec-1 {
      left: -10%;
      top: -3px;
    }
    .dec-2 {
      right: -10%;
    }
  }

  .collection {
    .collection__content {
      gap: 80px;
      .collection__imgbox {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  .map {
    overflow: hidden;
  }
}

@media only screen and (max-width:991.98px) {
  .intro {
    .dec-1 {
      left: -20%;
    }
    .dec-2 {
      right: -20%;
    }
  }
}

@media only screen and (max-width:870px) {
  .title {
    font-size: 4rem;
  }

  .header {
    .header__main {
      position: relative;
      .logo {
        z-index: 999;
      }
      .hamburger__line {
        top: 0px;
        right: 0;
        width: 30px;
        height: 20px;
        display: inline-block;
        position: relative;
        z-index: 999;
        .hamburger::after {
          content: "";
          top: -9px;
        }
        .hamburger {
          top: 10px;
        }
        .hamburger::before {
          content: "";
          top: 9px;
        }
        .hamburger, .hamburger::after, .hamburger::before {
          position: absolute;
          left: 0;
          width:100%;
          height: 2px;
          background: black;
          
        }
      }
      .menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateY(-100%);
        gap: 1;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: #fbf1e6;
        transition: all .2s ease;
        z-index: 99;
        .menu__link {
          display: block;
          max-width: fit-content;
          margin: 0 auto;
        }
      }
      .hamburger-active::after {
          content: "";
          transform: rotate(90deg);
          top: 9px;
      }
      .hamburger-active {
        display: none;
      }
      .hamburger-active::before {
          content: "";
          transform: rotate(-90deg);
          top: 9px;
      }
      .menu__active {
        transform: translateY(0%);
      }
    }
  }

  .intro {
    .dec-1 {
      left: -30%;
    }
    .dec-2 {
      right: -30%;
    }
  }

  .collection {
    .collection__content {
      flex-direction: column;
      .collection__textbox {
        text-align: center;
        margin: 0 auto;
        max-width: fit-content;
        .collection__text {
          margin: 0 auto;
          max-width: fit-content;
        }
      }
    }
  }
  
  .tier {
    .tier__level {
      flex-direction: column;
      gap: 50px;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 479.98px) {
  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 16px;
  }

  .header {
    .header__main {
      .hamburger__line {
        top: -7px;
      }
    }
  }

  .intro {
    padding-bottom: 100px;
    .dec {
      display: none;
    }
    .intro__body {
      .intro__title {
        font-size: 57px;
        line-height: .89;
      }
    }
  }

  .collection {
    padding: 0 0 150px 0;
    .collection__content {
      padding-top: 35px;
      .collection__textbox {
        .collection__text {
          width: 100%;
          max-width: fit-content;
        }
        .line {
          width: 100%;
        }
      }
    }
  }

  .map {
    padding: 160px 0 55px 0;
    .map__body {
      .map__content-item {
        margin: 0;
        .map__percentege {
          top: 0px;
        }
        .map__main {
          max-width: fit-content;
          margin: 0 auto;
          padding: 102px 30px 126px 30px;
          .main__textbox {
            .map__main-title {
              font-size: 30px;
              margin: 9px 0 10px 0;
            }
          }
          img {
            display: none;
          }
        }
        .main__imgbox {
          display: none;
        }
      }
    }
  }

  .tier {
    .tier__level {
      .tier__level-imgbox {
        width: 100%;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .team {
    .team__content {
      display: flex;
      flex-direction: column;
    }
  }

  .faq {
    height: auto;
    .faq__body {
      .faq__pappel {
        top: -116px;
        left: -221px;
      }
    }
  }

  .footer {
    .footer__body {
      .footer__nav {
        .footer__social {
          display: block;
          .footer__item {
            margin-bottom: 12px;
          }
        }
      }
      .footer__bottom {
        flex-direction:  column;
        gap: 0;
      }
    }
  }
}

@media (max-width: 280px) {
  .title {
    font-size: 1.4rem;
    line-height: 26px;
  }

  .subtitle {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .intro {
    .intro__body {
      .intro__title {
        margin-left: 0;
        font-size: 39px;
      }
      .intro__text {
        margin: 31px auto 40px auto;
      }
    }
  }

  .collection {
    .collection__content {
      .collection__textbox {
        .collection__textbox-title {
          font-size: 22px;
        }
      }
    }
  }

  .tier {
    .tier__title {
      margin-bottom: 37px;
    }
    .tier__level-textbox {
      width: 100%;
      .tier__level-title {
        font-size: 22px;
      }
      .tier__level-tier {
        margin: 27px 0 24px 0;
      }
    }
  }

  .map {
    .map__body {
      .map__title {
        margin-bottom: 58px;
      }
      .map__content-item {
        .map__main {
          padding: 90px 10px 126px 10px;
          .main__textbox {
            .map__main-subtitle {
              font-size: 16px;
            }
            .map__main-title {
              font-size: 22px;
            }
          }
        }
      }
    }
  }

  .faq {
    padding: 126px 0 174px 0;
    .faq__body {
      .accordion {
        .accordion__item {
          .accordion__title {
            font-size: 18px;
          }
        }
      }
      .accordion__active {
        .text {
          padding-left: 10px;
        }
      }
    }
  }

  .footer {
    .footer__body {
      .footer__head {
        .footer__title {
          line-height: 26px;
        }
      }
    }
  }
}